<div class="jumbotron">
  <div class="container">
    <h1>No meals registered!</h1>
    <p>You have no meals registered ? How is it possible ? Maybe I could help you:</p>
    <ul>
      <li><a href="http://www.wikihow.com/Make-Friends">No friends? Read this and you'll be ready to find friends</a></li>
      <li>You are unable to cook? I have 3 suggestions:
        <ul>
          <li>Order in a caterer (if you are rich)</li>
          <li><a href="http://www.meetic.com/">Find a boy/girl friend that is able to cook (otherwise there is no benefit)</a></li>
          <li><a href="http://www.escoffieronline.com/">Learn to cook</a></li>
        </ul>
      </li>
    </ul>
    <div class="text-center">
      <a class="btn btn-primary btn-lg" href="#/meal/new">Add a meal</a>
    </div>
  </div>
</div>
